<h4>Додати відео</h4>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <div class="input">
      <label for="title">Назва</label>
      <input type="text" id="title" formControlName="title" name="title" />
    </div>
    <div class="input">
      <label for="description">Опис</label>
      <input
        type="text"
        id="description"
        formControlName="description"
        name="description"
      />
    </div>
    <div class="input">
      <label for="link">Посилання</label>
      <input type="text" id="link" formControlName="link" name="link" />
    </div>
    <button type="submit" class="button">Додати</button>
  </div>
</form>
